body {
  padding: 20px;
}

#dropdown-domains, #dropdown-themes {
  margin-bottom: 10px;
}

rect.bar.chart{
  fill: rgb(70, 100, 200);
}
rect.bar.chart:hover{
  fill: rgb(35, 50, 150);
}

rect.bar.chart.active{
  fill: rgb(200, 0, 0);
}
rect.bar.chart.active:hover{
  fill: rgb(150, 0, 0);
}

#chart-view svg text {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  fill: #fff;
}

.infotext {
  font-size: 75%;
}